<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zwhy.swag.blog.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="org.zwhy.swag.blog.po.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="blog"
                 javaType="org.zwhy.swag.blog.po.Blog"
                 column="blog_id"
                 select="org.zwhy.swag.blog.mapper.BlogMapper.getBlog">
    </association>
    <association property="parentComment"
                 javaType="org.zwhy.swag.blog.po.Comment"
                 column="parent_comment_id"
                 select="org.zwhy.swag.blog.mapper.CommentMapper.getComment">
    </association>
    <collection  property="replyComments"
                 ofType="org.zwhy.swag.blog.po.Comment"
                 column="id"
                 select="org.zwhy.swag.blog.mapper.CommentMapper.getReplyComments">
    </collection>
  </resultMap>


  <select id="listCommentByBlogId" resultMap="BaseResultMap">
    select * from comment where blog_id = #{blogId} order by create_time desc
  </select>

  <select id="getReplyComments" resultMap="BaseResultMap">
    select * from comment where parent_comment_id = #{parentId}
  </select>

  <select id="getComment" resultMap="BaseResultMap">
    select * from comment where id = #{id}
  </select>

  <select id="listTopCommentByBlogId" resultMap="BaseResultMap">
    select * from comment where blog_id = #{blogId} and parent_comment_id = -1 order by create_time desc
  </select>


  <insert id="saveComment" parameterType="org.zwhy.swag.blog.po.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="blog != null">
        blog_id,
      </if>
      parent_comment_id
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blog != null">
        #{blog.id,jdbcType=BIGINT},
      </if>
      <choose>
        <when test="parentComment != null">
          #{parentComment.id,jdbcType=BIGINT}
        </when>
        <otherwise>
          -1
        </otherwise>
      </choose>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>